{% extends 'navbar.html' %}
{% block content %}

<center>
    <h1 style="font-family:'Cursive';">EDUEXAMPLE EDUCATIONAL ENTERPRISE™️</h1><br>
    <img src="https://th.bing.com/th?id=OIP.QPCDWafZKCRPrLYHRkbzFAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" class="img-fluid">
    <p>WELCOME TO OUR HOME PAGE !!!</p>
    <p>With over 50 years of educational expertise under our belt, We are one of the top Educational enterprises in the world. We have hired expert tutors who provide professional guidance to our students 24/7. Our students are our wealth, our pride and our joy. Come join us today and let us make history together ! </p>
</center>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
       <div class="carousel-content">
       <img src="https://ceg.annauniv.edu/assets/images/slider/slider_redbldg.jpg" width="100%" alt="Los Angeles" class="img-fluid">
  
   </div>
   <div class="carousel-caption">
   
</div>
</div>
    <div class="carousel-item">
      <img src="https://ceg.annauniv.edu/assets/images/slider/kalam.jpg" width="100%" alt="Chicago" class="img-fluid" >
      <div class="carousel-caption">
       
   </div>
   </div>
     <div class="carousel-item">
       <img src="https://ceg.annauniv.edu/assets/images/slider/slider_red.jpg" width="100%" alt="New York" class="img-fluid">
       <div class="carousel-caption">
           
       </div>
   </div>
   </div>
   <a class="carousel-control-prev" href="#demo" data-slide="prev">
       <span class="carousel-control-prev-icon"></span>
     </a>
     <a class="carousel-control-next" href="#demo" data-slide="next">
       <span class="carousel-control-next-icon"></span>
     </a>
   
   </div>
<!--card-->
<div class="container-md  text-center bg-info text-light " >
<h1 class="bg-info container-fluid text-center text-light" style="font-family: 'Courier New', Courier, monospace;">Our vision</h1>
</div>       
<div class="card-group ">

   <div class="card img-fluid" style="width: 500px;height: 400px;">
     <img class="card-img-top" src="https://college.harvard.edu/sites/default/files/styles/teaser_small/public/2023-03/Screen%20Shot%202023-03-13%20at%203.56.06%20PM.png?h=a7cdad00&itok=XSRTICp7" alt="card image" style="width:100%;height:400px;;" >
     <div class="card-img-overlay">
    <a href="#"><h1 class="card-title" style="text-align: center;background-color: aquamarine;" >Celebrations</h1></a>
      
        </div> 
     </div>










  

 
 <div class="card img-fluid" style="width: 500px;height: 400px;">
     <img class="card-img-top" src="https://college.harvard.edu/sites/default/files/styles/teaser_small/public/2023-03/Screen%20Shot%202023-03-13%20at%203.59.47%20PM.png?h=a0a54417&itok=AvwJe-9P"  style="width:100%;height:400px;;" alt="">
     <div class="card-img-overlay">
      <a href="#"><h1 class="card-title" style="text-align: center;background-color: aquamarine;" >Sports</h1></a>
        </div>
       </div> 
     





 


       <div class="card img-fluid" style="width: 500px;height: 400px;">
     <img class="card-img-top" src="https://college.harvard.edu/sites/default/files/styles/teaser_small/public/2023-03/Screen%20Shot%202023-03-01%20at%209.50.53%20AM.png?h=cb8938f5&itok=nGkJqOCx"  style="width:100%;height:400px;;" alt="">
     <div class="card-img-overlay">
      <a href="#"><h1 class="card-title" style="text-align: center;background-color: aquamarine;" >Culture</h1></a>
        </div> 
     </div>

   

 </div> 






<div class="card-group ">
<div class="card img-fluid" style="width: 500px;height: 400px;">
 <img class="card-img-top" src="https://media-api.flockler.com/instagram/image/3086605327814166903" style="width:100%;height:400px;;" alt="">
 <div class="card-img-overlay">
  <a href="#"><h1 style="text-align: center;background-color: aquamarine;" >Facilities</h1></a>
    </div> 
 </div>





 <div class="card img-fluid" style="width: 500px;height: 400px;">
 <img class="card-img-top" src="https://media-api.flockler.com/instagram/image/3088836696527756307" style="width:100%;height:400px;;" alt="">
 <div class="card-img-overlay">
  <a href="#"><h1 style="text-align: center;background-color: aquamarine;" >History</h1></a>
 </div> 
 </div>







 <div class="card img-fluid" style="width: 500px;height: 400px;">
 <img class="card-img-top" src="https://media-api.flockler.com/instagram/image/3094736059425617530" style="width:100%;height:400px;;" alt="">
 <div class="card-img-overlay">
  <a href="#"><h1 style="text-align: center;background-color: aquamarine;" >Academics</h1></a>
    </div> 
 </div>

</div>
<br><br>




<div class="container-md  text-center bg-info text-light "   ><h1 class="bg-info container-fluid text-center text-light" style="font-family: 'Courier New', Courier, monospace;">Join us on YouTube</h1></div>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LlCwHnp3kL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="responsive-iframe"></iframe>
     </div>     
     
        <marquee behavior="" direction=""> Numerous Courses and oppurtunities available. Join us today !!!  </marquee>

        <section class="wrapper">
          <div class="container-fostrap">
              <div>
                  
                  <h1 class="heading">
                      Our Customer Reviews
                  </h1>
              </div>
              <div class="content">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="#">
                                  <img src="https://www.bing.com/th?id=OIP.eM98oXys8l17AMCif_KohAHaFj&w=198&h=160&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="#"> Jeff Bezos
                                        </a>
                                      </h4>
                                      <p class="">
                                          Fair monetization and excellent services.
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <a href="#" class="btn btn-link btn-block">
                                          Read More
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="#">
                                  <img src="https://www.bing.com/th?id=OIP.nnqtnua0Q5VOdECPwyT16gHaFB&w=244&h=160&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Bill Gates
                                        </a>
                                      </h4>
                                      <p class="">
                                          The tutoring  is God tier.
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <a href="#" class="btn btn-link btn-block">
                                          Read More
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="#">
                                  <img src="https://www.bing.com/th?id=OIP.wGX20c9DLIL7UkXxmvTV_QHaGN&w=179&h=160&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="#">  Elon Musk
                                        </a>
                                      </h4>
                                      <p class="">
                                          Excellent place to learn MCA !
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <a href="#" class="btn btn-link btn-block">
                                          Read More
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>












<marquee behavior="" direction="">Home page|Welcome|Home page</marquee>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Our motto
            </h6>
            <p>
              Our organisation aims at providing best quality education to our students.
            </p>
            <p>Eduexample</p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Courses
            </h6>
            <p>
              <a href="#!" class="text-reset">MCA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">BCA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">PGDCA</a>
            </p>
            <p>
              <a href="#!" class="text-reset">B.tech</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Faculty</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Rules & Regulations</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact Support</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              edu@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Eduexample.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
{% endblock %}